// $base-font-size: 16px;

p {
  // font-size: calc(#{$base-font-size} + 1vw);
  font-size: calc(0.5rem + 1.5vw);
  margin-bottom: 0.5em;
}
@media only screen and (min-width: 16px * (50 / 94 * 100)) {
  p {
    font-size: 1.29875rem;
  }
}

.wordA,
.wordB {
  font-weight: 700;
  line-height: 0.8;
  margin: 0;
}

.wordA {
  font-size: 58.3vw;
  margin-left: -0.09em;
}

.wordB {
  font-size: 14.58vw;
}

@media only screen and (min-width: 16px * (50 / 94 * 100)) {
  /* oder rem/em */
  html {
    .wordA {
      font-size: 31.1rem;
    }

    .wordB {
      font-size: 7.78rem;
    }
  }
}
