.container-grid-x {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 3%;
}

.column-1to3 {
  grid-column-start: 1;
  grid-column-end: 4;

  background-color: red;
  min-height: 5rem;
}

.column-4to12 {
  grid-column-start: 4;
  grid-column-end: span 9;

  background-color: green;
  min-height: 5rem;
}

/*

xy

*/

.box {
  position: relative;
  padding-bottom: 100%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.box-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-grid-y {
  grid-template-rows: repeat(12, 1fr);
  grid-row-gap: 3%;
}

.column-1to3.top {
  grid-row-start: 1;
  grid-row-end: span 3;
}
.column-1to3.bottom {
  grid-row-start: 4;
  grid-row-end: span 9;
}
.column-4to12.full {
  grid-row-start: 1;
  grid-row-end: span 12;

  background-color: green;
}

/*

card

*/

.container-grid-dense {
  grid-auto-flow: dense;
}

.card-2-4 {
  background-color: red;
}

.card-4-2 {
  background-color: green;
}
.card-2-2 {
  background-color: gray;
}

.card-2-4 {
  grid-column: span 2;
  grid-row: span 4;
}
.card-4-2 {
  grid-column: span 4;
  grid-row: span 2;
}
.card-2-2 {
  grid-column: span 2;
  grid-row: span 2;
}
