$base-font-size: 16px;
$font-scale: 1.41421356237;

html {
  font-family: "Open Sans", sans-serif;
  font-size: $base-font-size;
  line-height: 1.45;
}

h1 {
  font-size: 1rem * $font-scale * $font-scale * $font-scale;
}

h2 {
  font-size: 1rem * $font-scale * $font-scale;
}

h3 {
  font-size: 1rem * $font-scale;
}

.column {
  margin: 0 auto;
  width: 94%;
  max-width: 50rem;
  // background-color: red;
}
